#more {
  display: none;
}

.loader {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}

.flex-container {
  display: flex;
  justify-content: space-around;
  align-items: stretch;
}

.headerflex-container {
  display: flex;
  justify-content: space-around;
  align-items: baseline;
}
